- [23, 2, 4, 6, 7], 6
    - {5: 0}
    - {5: 0, 1: 1}
    - {5: 0,2, 1: 1}
    - 2-0 = 2 >= 2. Return True

- [23, 11, 13, 6, 7], 6
    - 23 % 6 = 5 --> {5: 0}
    - 34 % 6 = 4 --> {5: 0, 4: 1}
    - 47 % 6 = 5 --> {5: 0, 2, 2: 1}
    - 2-0 = 2 >= 2. Return True

- [23, 2, 4, 6, 7], 10
    - {3: 0}
    - {3: 0, 5: 1}
    - {3: 0, 5: 1, 9: 2}
    - {3: 0, 5: 1,3, 9: 2}
    - 3 - 1 = 2 >= 2. Return True

- [23, 2, 4, 6, 7], 11
    - {1: 0}
    - {1: 0, 3: 1}
    - {1: 0, 3: 1, 7: 2}
    - {1: 0, 3: 1, 7: 2, 2: 3}
    - {1: 0, 3: 1, 7: 2, 2: 3, 9: 4}

- [23, 2, 4, 6, 7], 6
    - {5: 0}
    - {5: 0, 1: 1}
    - {5: 0,2, 1: 1}
    - 2-0 = 2 >= 2. Return True

In [86]:
import heapq

test = [[1,4], [3,6], [2,8]]

q = test.copy()
heapq.heapify(q)
prev_min, prev_max = (None, None)
res = []
while q:
    curr_min, curr_max = heapq.heappop(q)
    
    if not res:
        prev_min, prev_max = curr_min, curr_max
        res.append((curr_min, curr_max))
        continue
    
    if (curr_min <= prev_min and curr_max >= prev_max):
        res.pop()
        res.append((curr_min, curr_max))
        prev_min, prev_max = curr_min, curr_max
    elif (curr_min >= prev_min and curr_max <= prev_max):
        continue
    else:
        prev_min, prev_max = curr_min, curr_max
        res.append((curr_min, curr_max))
    
res

[(1, 4), (2, 8)]

## Snakes and Ladders

In [48]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

- Are all squares equally probably in snakes and ladders?
- We'll brute force and show distribution

### Board without snakes or ladders

- It is clear that, without snakes or ladders, most turns will involves getting stuck while getting to 100 from 94-99. 
- So the bulk of the attempts are in this range due to backtracking from 100

In [23]:
import random

In [43]:
res = []
for _ in range(10_000):
    curr = 0
    while curr != 100:
        curr = curr + random.randint(1,6)
        if curr > 100:
            curr = 100 - (curr - 100)
        res.append(curr)

In [44]:
from collections import Counter
import pandas as pd
temp = pd.DataFrame.from_dict(dict(Counter(res)), orient='index').reset_index(drop=False)
temp.columns = ['index', 'count']
temp.head()

   index  count
0      4   2634
1      5   3120
2     10   2889
3     12   2960
4     14   2870

In [49]:
(
    temp
    .sort_values('count', ascending=False)
)

    index  count
46     99  16815
45     98  13701
44     97  11265
29    100  10000
75     96   8363
28     95   5622
59      6   3640
1       5   3120
19     58   2965
3      12   2960
62     29   2941
88     24   2936
17     52   2927
73     83   2925
13     45   2913
85     49   2912
89     26   2910
40     75   2905
39     69   2904
15     47   2903
42     87   2902
52     39   2901
26     88   2900
86     94   2900
49     15   2899
68     63   2893
66     60   2893
74     91   2893
54     56   2892
97     42   2892
2      10   2889
71     77   2887
79     53   2887
35     50   2887
37     59   2885
23     80   2884
90     73   2883
65     55   2882
56     66   2881
58     89   2875
11     36   2874
99     27   2873
33     35   2873
6      18   2871
25     84   2871
92     30   2870
4      14   2870
10     34   2869
16     48   2867
57     74   2865
12     41   2864
82     93   2862
93     68   2859
7      19   2859
32     31   2858
70     71   2857
80     85   2848
91     78   2848
24     81   2847
14     46   2845
20     64   2844
55     62   2843
31     25   2842
77     20   2842
8      22   2840
96     13   2840
27     92   2840
48     11   2839
22     76   2838
36     54   2837
5      16   2835
87     21   2834
69     67   2834
83     32   2834
63     40   2832
95      9   2832
78     33   2832
51     37   2825
72     82   2824
41     79   2823
61     23   2821
84     38   2819
34     44   2815
21     70   2810
43     90   2809
53     43   2803
64     51   2802
94     72   2802
50     17   2801
9      28   2786
38     65   2783
18     57   2783
67     61   2779
81     86   2776
76      8   2679
0       4   2634
60      7   2450
30      3   2245
47      2   1957
98      1   1634